<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div>

  Coucou

  <h1> asi-esir-input </h1>
  <hr>
  <div class="flex-column">
    <ae-input id="first_input" name="first_input" label="My First Input" [(ngModel)]="inputModel"></ae-input>
    <ae-input id="scd_input" name="scd_input" label="My Scd Input" [(ngModel)]="inputModel2"></ae-input>
  </div>

  <h1> asi-esir-list</h1>
  <hr>
  <div class="flex-column">
    <ae-list [data]="data">
      <ae-list-item *aeListData="let item">
        <h3>{{ item.title }} </h3>
        <div> {{ item.description }} </div>
      </ae-list-item>
    </ae-list>
  </div>
</div>
